body {
    background-color: #EEEEEE;
    font: 13px Arial;
}

h1 {
    font: normal 20px Arial Narrow;
}

div {
    width: 370px;
    padding: 15px;
    margin-top: 36px;
}

    div, div > img {
        border: 1px solid #999999;
        background-color: white;
    }

        div > img {
            margin-right: 15px;
        }

img {
    float: left;
}

button {
    background-color: #CC0000;
    border-color: #E38482;
    border-left-color: #9F2D2F;
    color: white;
    padding: 0;
    line-height: 20px;
    float: right;
    margin-top: 20px;
    margin-left: 3px;
}

    button.listen {
        width: 72px;
        height: 23px;
    }

    button.add {
        width: 60px;
        height: 23px;
    }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
