<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="PollSystemEntities" connectionString="metadata=res://*/PollsModel.csdl|res://*/PollsModel.ssdl|res://*/PollsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQL;initial catalog=PollSystem;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>